::before,
::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    box-sizing: border-box;
}

body {
    width: inherit;
    height: 100vh;
    font-family: "Pixelify Sans", serif;
    color: hsl(48, 18%, 27%);
    font-optical-sizing: auto;
    background: rgb(248,243,217);
    background: linear-gradient(180deg, rgba(248,243,217,1) 45%, rgba(214,208,171,1) 66%);
}
img {
    width: 200px;
    height: 200px;
}

nav {
    background-color: hsl(51, 51%, 84%);
    width: inherit;
    height: 5rem;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
    box-shadow: -3px 5px 10px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: -3px 5px 10px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 5px 10px -5px rgba(0,0,0,0.75);
}

nav .nav-container {
    display: flex;
    height: inherit;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
}

nav h1 {
    font-size: 2.5rem;
}

header {
    width: inherit;
    height: 15vh;
}

.header-container {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 4rem;
    font-weight:lighter;
    text-shadow: 0px 3px 4px rgba(0,0,0,0.6);
}

.game-container {
    width: 101.5vh;
    margin: auto;
}

.score-board {
    font-size: 3rem;
    border: 3px solid;
    width: 7rem;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 8px;
}

.screen {
    width: inherit;
    height: 320px;
    border: 8px double #504b38;
    border-radius: 8px;
}

.screen-container {
    width: inherit;
    height: inherit;
    display: flex;
}

.player-side,
.computer-side {
    width: 50vh;
    height: 305px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-side img,
.computer-side img {
   width: 300px;
   height: inherit;
}

.player-side {
    border-right: 3px solid #504b38;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border: 8px double #504b38;
    border-radius: 8px;
}

.button-container img {
    cursor: pointer;
}

.pop-up-container {
    width: 926px;
    height: 200px;
    position: absolute;
    align-self: center  ;
    display: flex;
}

.pop-up-box {
    height: 12rem;
    width: inherit;
    background-color: hsl(51, 25%, 63%);
    border-radius: 8px;
    border: 7px double #504b38;
    text-align: center;
    font-size: 3rem;
    opacity: 90%;
    color: hsl(48, 19%, 11%);
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.continue-button {
    width: 8rem;
    height: 4rem;
    font-family: "Pixelify Sans", serif;
    font-size: 20px;
    font-weight: 800;
    box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#2f3322;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    align-self: center;
}

.continue-button:hover {
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
.continue-button:active {
	position:relative;
	top:1px;
}

/* HTML: <div class="loader"></div> */
.dot-loader {
    width: 60px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#333029 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {
      20%{background-position:0%   0%, 50%  50%,100%  50%}
      40%{background-position:0% 100%, 50%   0%,100%  50%}
      60%{background-position:0%  50%, 50% 100%,100%   0%}
      80%{background-position:0%  50%, 50%  50%,100% 100%}
  }

footer {
    width: 100%;
    height: 3rem;
    background-color: #504B38;
    margin-top: 23px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.footer-container {
    height: inherit;
    width: 100%;
    color: #eae0c2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}